
{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="home-page">
    <h1>Todo List</h1>

    <!-- Create a Task -->
  <div class="new-task-frame">
    <form action="{% url 'app:create_new_task' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="task_title" placeholder="New task" required>
        <button type="submit">Add</button>
    </form>
  </div>

    <!-- Show available tasks -->
    <ul class="task-list">
        {% for task in task_list %}
            <li>
                {{ task.get_absolute_url }}
                <a href="{% url 'app:task_detail' task.pk %}">
                    <p>{{ forloop.counter }}. {{ task.title }} - {{ task.show_due_data }}</p>
                </a>
                <div class="actions">
                    <form action="{% url 'app:toggle_task_status' task.pk %}" method="POST">                                                     
                        {% csrf_token %}
                        <button class="icon"  type="submit">
                            {% if task.is_completed %}
                            <img src="{% static 'icons/checkmark.png' %}">
                            {% else %}
                            <img src="{% static 'icons/wait.png' %}">
                            {% endif %}
                        </button>
                    </form>

                    <form  action="{% url 'app:delete_task' task.pk %}" method="POST">
                        {% csrf_token %}
                        
                        <button class="icon" type="submit"><img src="{% static 'icons/delete.png' %}" alt="" width="24px" height="24px"></button>
                    </form>
                    <form action="{% url 'app:change_pin_situation' task.pk %}" method="post">
                        {% csrf_token %}
                        <button class="icon"  type="submit">
                            {% if task.is_pinned %}
                        <img src="{% static 'icons/pin.png' %}" alt="" width="24px" height="24px">
                        {% else %}
                        <img src="{% static 'icons/unpin.png' %}" alt="" width="24px" height="24px">
                        {% endif %}
                        </button>

                        <!-- {{kwargs}} -->
                        
                    </form>
                </div>
            </li>
        {% empty %}
            <li>No tasks to display.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
